@import "../css/reset.css";


.container {
    display: flex;
    justify-content: center;
}

[class$="btn"] {
    width: 140px;
    height: 50px;

    align-items: center;
    text-align: center;
    background: #D97652;
    border-radius: 40px;
    border: none;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

/* header */
header {
    position: fixed;
    width: 1920px;
    height: 100px;
    z-index: 1;
    background-color: #F2E9D8;
}

header .download-btn {
    position: absolute;
    left: 1460px;
    top: 26px;
}

header .side-button {
    display: none;
}

.header-logo-fin {
    position: absolute;
    width: 130px;
    height: 40px;
    left: 320px;
    top: 31px;
}

.top-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    position: absolute;
    width: 205px;
    height: 20px;
    left: 1206px;
    top: 41px;
}

.side-bar {
    display: none;
}




/* main */
main {
    position: absolute;
    height: 4085px;
    width: 1920px;

    background: url(../images/bottom_cat.png);
    background-repeat: no-repeat;
    background-size: 1920px 340px;
    background-position-y: 3739px;
}


/* section1 */
.section1 {
    position: absolute;
    width: 1920px;
    height: 900px;

    background: url(../images/img_cat_png.png);
    background-repeat: no-repeat;
    background-size: 415px 766px;
    background-position: 1185px 136px;
    background-color: #F2E9D8;
}

.section1>h2 {
    position: absolute;
    width: 750px;
    height: 120px;
    left: 320px;
    top: 304px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.section1>p {
    position: absolute;
    width: 450px;
    height: 86px;
    left: 320px;
    top: 464px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.section1>button {
    position: absolute;
    top: 590px;
    left: 320px;
}



/* section2 */
.section2{
    position: absolute;
    top: 900px;
}

.section2-cat1 {
    position: absolute;
    width: 660px;
    height: 390px;
    left: 320px;
    top: 80px;

    filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
}

.section2 h2 {
    position: absolute;
    width: 510px;
    height: 135px;
    left: 1090px;
    top: 172px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
}

.section2-text1 {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 1090px;
    top: 337px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}


.section2-text2 {
    position: absolute;
    width: 950px;
    height: 60px;
    left: 523px;
    top: 590px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: center;

    color: #D97652;
}

.section2-text3 {
    position: absolute;
    width: 750px;
    height: 42px;
    left: 605px;
    top: 690px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
}

.section2-text3>span {
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #D97652;
}


.section2 div img {
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.25));
    border-radius: 18px;
}

.cat-gallery-1 {
    position: absolute;
    width: 1280px;
    height: 378px;
    left: 320px;
    top: 820px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.cat-gallery-2 {
    position: absolute;
    width: 1280px;
    height: 378px;
    left: 320px;
    top: 1270px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.show-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    position: absolute;
    width: 330px;
    height: 108px;
    left: 820px;
    top: 1748px;
}

.continue {
    width: 305px;
    height: 30px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.section2>hr {
    position: absolute;
    width: 1280px;
    height: 1px;
    left: 320px;
    top: 1936px;
    background-color: #C4C4C4;
    border: none;
}


/* section3 */
.section3 {
    position: absolute;
    top: 2836px;
}

.section3>h2 {
    position: absolute;
    width: 275px;
    height: 45px;
    left: 320px;
    top: 68px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

}

.section3>p {
    position: absolute;
    width: 400px;
    height: 20px;
    left: 320px;
    top: 133px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    color: #606367;

}

.section3>img {
    position: absolute;
    width: 1280px;
    height: 520px;
    top: 201px;
    left: 320px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;

}

.subscribe-box {
    position: absolute;
    width: 1280px;
    height: 200px;
    top: 801px;
    left: 320px;

    background: #263140;
    border-radius: 30px;
}

.subscribe-box h3 {
    position: absolute;
    width: auto;
    height: 45px;
    left: 58px;
    top: 51px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    /* or 129% */
    display: flex;
    align-items: center;

    color: #FFFFFF;
}

.subscribe-box p {
    position: absolute;
    width: 471px;
    height: 36px;
    left: 58px;
    top: 114px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* or 129% */
    display: flex;
    align-items: center;

    color: #F2E9D8;
}

.subscribe-form {
    position: absolute;
    width: 530px;
    height: 60px;
    left: 692px;
    top: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background: #FFFFFF;
    border-radius: 60px;
}

.subscribe-form label {
    position: absolute;
    left: 28px;
}

#email {
    position: absolute;
    width: 310px;
    height: 90%;
    left: 60px;


    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    display: flex;
    align-items: center;
    border: none;

    color: #767676;
}

.subscribe_btn {
    position: absolute;
    left: 380px;
}



/* 모달창 */
.subscribe_modal {
    width: 600px;
    height: 400px;
    top: 50px;
    border-radius: 30px;
    position: fixed;
    border: none;
    background-color: #F2E9D8;
    background-image: url("../images/model_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;

}

.model_cat {
    position: absolute;
    top: 60px;
    left: 260px;
}

.subscribe_modal h2 {
    position: absolute;
    width: 212px;
    height: 46px;
    top: 196px;
    left: 205px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;

    color: #D97652;
}

.subscribe_modal p {
    position: absolute;
    width: auto;
    height: 18px;
    top: 254px;
    left: 135px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.subscribe_modal button {
    position: absolute;
    width: 183px;
    height: 50px;
    top: 310px;
    left: 225px;
}



/* footer */
footer {
    position: absolute;
    width: 1920px;
    height: 160px;
    top: 4080px;
}

.footer-logo-fin {
    position: absolute;
    width: 226px;
    height: 70px;
    top: 45px;
    left: 320px;
}

.footer-nav-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

    position: absolute;
    width: 228px;
    height: 42px;
    left: 1372px;
    top: 58px;
}

/* 탑 스크롤 버튼 */
.top-scroll-button {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 24px;
    bottom: 100px;
    border: none;
    border-radius: 50%;
    z-index: 5;
    background-image: url('../images/scroll-top-btn\ \(2\).png');
    background-repeat: no-repeat;
    display: none;
}

.top-scroll-button:hover {
    background-image: url('../images/scroll-top-btn\ \(1\).png');
    background-repeat: no-repeat;
}